body {
    /* background-color: aqua; */
    background-image: url(/Img/background-image.png);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

.nav-div button {
    margin-top: 15px;
    height: 40px;
    width: 100px;
    background-color: rgb(251, 102, 132);
    border: none;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 700;
}

section button {
    background-color: rgb(251, 102, 132);
    padding: 15px;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 700;
}

header {
    padding: 2px 0px 2px 2px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    width: 90%;
    height: 90px;
}

nav ul li {
    margin-left: 10%;
    margin-right: 45%;
    width: 60%;
    padding: 2px;
    font-size: 20px;
    font-weight: 300;
    color: rgb(241, 218, 9);
}

.nav-div {
    display: flex;
    width: 40%;
    margin-left: 65%;
}

section {
    text-align: center;
    margin-top: 60px;
}

h1 {
    font-size: 90px;
    color: rgb(241, 218, 9);
}

footer {
    display: flex;
    flex-direction: row-reverse;
}